In [1]:
#Import thư viện
import pandas as pd
import numpy as np
import ast

In [2]:
#Đọc file dữ liệu
credits = pd.read_csv('Data/tmdb_5000_credits.csv')
movies = pd.read_csv('Data/tmdb_5000_movies.csv')

In [3]:
#Hiển thị 5 hàng dữ liệu đầu tiên trong file credits
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
#Hiển thị dòng dữ liệu đầu tiên trong file movies
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
#Gộp 2 file thành 1 DataFrame
movies = movies.merge(credits, left_on='title', right_on='title')

In [6]:
#Hiển thị lại dòng dữ liệu đầu tiên trong file movies sau khi đã gộp
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#Chỉ giữ lại những cột quan trọng
movies= movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [8]:
#Hiển thị dữ liệu
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
#Tạo hàm được định nghĩa để xử lý một loại dữ liệu trong các cột như genres, keywords, cast, hoặc crew sau khi đọc từ file CSV.
def convert(obj):
    L = [] #Khởi tạo 1 list rỗng
    for i in ast.literal_eval(obj):
        L.append(i['name']) #Thêm giá trị "name" vào cuối mảng
    return L

In [10]:
#Áp dụng hàm convert cho cột "genres"
movies['genres'] = movies['genres'].apply(convert)

In [11]:
#Hiển thị dữ liệu
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4809, dtype: object

In [12]:
#Áp dụng hàm convert cho cột "keywords"
movies['keywords'] = movies['keywords'].apply(convert)

In [13]:
#Hiển thị dữ liệu
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4809, dtype: object

In [14]:
#Áp dụng hàm convert cho cột "cast" với lambda và giới hạn 3 diễn viên
movies['cast'] = movies['cast'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)[:3]])

In [15]:
#Hiển thị dữ liệu
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4809, dtype: object

In [16]:
#Áp dụng hàm convert cho cột "crew" để lấy tên đạo diễn
movies['crew'] = movies['crew'].apply(lambda x: [i['name'] for i in ast.literal_eval(x) if i['job'] == 'Director'])

In [17]:
#Hiển thị dữ liệu
movies['crew']

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4809, dtype: object

In [21]:
#Tạo ra một cột mới gọi là tags bằng cách kết hợp thông tin từ nhiều cột khác nhau
movies['tags'] = movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [22]:
#Hiển thị dữ liệu
movies['tags']

0       [Action, Adventure, Fantasy, Science Fiction, ...
1       [Adventure, Fantasy, Action, ocean, drug abuse...
2       [Action, Adventure, Crime, spy, based on novel...
3       [Action, Crime, Drama, Thriller, dc comics, cr...
4       [Action, Adventure, Science Fiction, based on ...
                              ...
4804    [Action, Crime, Thriller, united states–mexico...
4805    [Comedy, Romance, Edward Burns, Kerry Bishé, M...
4806    [Comedy, Drama, Romance, TV Movie, date, love ...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Dani...
4808    [Documentary, obsession, camcorder, crush, dre...
Name: tags, Length: 4809, dtype: object

In [ ]:
#Chuyển đổi cột tags thành chuỗi văn bản
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [24]:
movies['tags']

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4804    Action Crime Thriller united states–mexico bar...
4805    Comedy Romance Edward Burns Kerry Bishé Marsha...
4806    Comedy Drama Romance TV Movie date love at fir...
4807    Daniel Henney Eliza Coupe Bill Paxton Daniel Hsia
4808    Documentary obsession camcorder crush dream gi...
Name: tags, Length: 4809, dtype: object

In [25]:
#Tinh chỉnh lại dataframe movies chỉ chứa những dữ liệu cần thiết
movies = movies[['movie_id', 'title', 'overview', 'tags']]

In [27]:
#Chuyển đổi tags sang chữ thường
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

In [28]:
#Hiển thị dữ liệu
movies.head()

,movie_id,title,overview,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",action adventure fantasy science fiction cultu...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",adventure fantasy action ocean drug abuse exot...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,action adventure crime spy based on novel secr...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,action crime drama thriller dc comics crime fi...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",action adventure science fiction based on nove...

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english') #loại bỏ các từ dừng tiếng Anh giúp giảm nhiễu, giảm kích thước ma trận và tập trung vào những từ có ý nghĩa hơn.
tfidf_matrix = tfidf.fit_transform(movies['tags'])

In [30]:
#Xác định mức độ giống nhau giữa các bộ phim cho một hệ thống gợi ý dựa trên nội dung.
from sklearn.metrics.pairwise import cosine_similarity 
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix) #tính toán độ tương đồng cosine giữa MỌI cặp phim trong tập dữ liệu 
#Hàm sẽ lấy từng hàng (vector phim) trong tfidf_matrix đầu tiên và so sánh nó với từng hàng (vector phim) trong tfidf_matrix thứ hai.

In [31]:
#Tạo hàm đưa ra gợi ý phim
def get_recommendations(title, cosine_sim=cosine_sim):
    # 1. Tìm chỉ mục của phim đầu vào
    idx = movies[movies['title'] == title].index[0]
    # 2. Lấy điểm tương đồng của phim đó với tất cả các phim khác
    sim_scores = list(enumerate(cosine_sim[idx]))
    # 3. Sắp xếp các phim theo điểm tương đồng giảm dần
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # 4. Lấy 10 phim tương đồng nhất (trừ chính phim đó)
    sim_scores = sim_scores[1:11] 
    # 5. Trích xuất chỉ mục của các phim được gợi ý
    movie_indices = [i[0] for i in sim_scores]
    # 6. Trả về tiêu đề của các phim được gợi ý
    return movies['title'].iloc[movie_indices]

In [ ]:
print(get_recommendations('Swelter'))

3338                          Pound of Flesh
2575                          Nowhere to Run
1909                            Maximum Risk
1717                                 Timecop
1449                               Knock Off
2472                           Double Impact
1271           Universal Soldier: The Return
4220                              Bloodsport
1406                          Street Fighter
1511    The Young and Prodigious T.S. Spivet
Name: title, dtype: object

In [34]:
#Lưu trữ dữ liệu với pickle
import pickle
with open('movie_data.pkl', 'wb') as file:
    pickle.dump((movies, cosine_sim), file)